@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

body {
  /* font-family: 'Roboto Slab', serif; */
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.1rem;
}

.hide {
  display: none;
}

.bg-maroon {
  background-color: maroon;
}

.btn-link {
  cursor: pointer;
  box-shadow: none;
}

.btn-link:focus {
  box-shadow: none;

}

.ltsp-0 {
  letter-spacing: 0rem;
}

.ltsp-1 {
  letter-spacing: 0.1rem;
}

.ltsp-2 {
  letter-spacing: 0.12rem;
}

.ltsp-3 {
  letter-spacing: 0.13rem;
}

.ltsp-4 {
  letter-spacing: 0.14rem;
}

.ltsp-5 {
  letter-spacing: 0.15rem;
}

.fs-7 {
  font-size: 0.9rem !important;
}

.fs-8 {
  font-size: 0.8rem !important;
}

.fc-g {
  color: rgb(65, 65, 65);
}

.bg-red {
  background-color: maroon;
}

.grd-bg-maroon {
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

.f-b {
  font-weight: 700;
}

.login-header {
  font-size: 2.5rem;
}

.form-control-lg:focus {
  box-shadow: 0 0 0 0.05rem red;
}

.form-control {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.form-control:focus {
  box-shadow: 0 0 0 0.05rem maroon;
  border: 1px solid maroon;

}

.btn-1 {
  color: #fff;
  background-color: maroon;
  border-color: maroon;
}

.btn-1:hover {
  color: #fff;
  background-color: maroon;
  border-color: maroon;
  box-shadow: none;
}

.btn-check:focus+.btn-1,
.btn-1:focus {
  color: #fff;
  background-color: maroon;
  border-color: maroon;
  box-shadow: 0 0 0 0.25rem rgba(217, 164, 6, 0.5);
}

.btn-check:checked+.btn-1,
.btn-check:active+.btn-1,
.btn-1:active,
.btn-1.active,
.show>.btn-1.dropdown-toggle {
  color: #fff;
  background-color: maroon;
  border-color: maroon;
}

.btn-check:checked+.btn-1:focus,
.btn-check:active+.btn-1:focus,
.btn-1:active:focus,
.btn-1.active:focus,
.show>.btn-1.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(217, 164, 6, 0.5);
}

.btn-1:disabled,
.btn-1.disabled {
  color: #fff;
  background-color: maroon;
  border-color: maroon;
}

.border-styled {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* non globals */
.login-wrapper {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(118, 116, 116, 0.3) 0px 30px 60px -30px;
}

.registration-wrapper {
  max-height: calc(100vh - 140px);
  overflow-y: scroll;


}

.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
  background-color: #ffffff;
}

.custom-scrollbar::-webkit-scrollbar:horizontal {
  height: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  border: 1px #ffffff solid;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 6px #ffffff inset;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: maroon;
  border: 1px solid maroon;
  border-radius: 16px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: maroon;
  border: 1px solid maroon;
}

.custom-scrollbar::-webkit-scrollbar-thumb:active {
  background-color: maroon;
  border: 1px solid maroon;
}

/* scroll bar  */
.custom-scrollbar1::-webkit-scrollbar {
  width: 7px;
  background-color: maroon;
}

.custom-scrollbar1::-webkit-scrollbar:horizontal {
  height: 10px;
}

.custom-scrollbar1::-webkit-scrollbar-track {
  border: 1px maroon solid;
  /* border-radius: 10px; */
  -webkit-box-shadow: 0 0 6px maroon inset;
}

.custom-scrollbar1::-webkit-scrollbar-thumb {
  background-color: white;
  border: 1px solid maroon;
  /* border-radius: 16px; */
}

.custom-scrollbar1::-webkit-scrollbar-thumb:hover {
  background-color: white;
  border: 1px solid maroon;
}

.custom-scrollbar1::-webkit-scrollbar-thumb:active {
  background-color: white;
  border: 1px solid maroon;
}

.image {
  height: 15em;
  width: 15em;
}

.image img {
  height: inherit;
  width: inherit;
}

.image-input-holder input[type="file"]{
  display: none;
}

.btn-hovered:hover {
  /* border: 1px solid white; */
  background-color: rgb(150, 5, 5);
}


.txt-header-bold {
  font-weight: 600;
  color: white;
  font-size: 4rem;
}

.btn-homepage {
  font-weight: 600;
  background-color: white;
  color: maroon;
  width: 18rem;
  height: 4rem;
  font-size: 2rem;
  border-radius: 5px;
  border: none;
  letter-spacing: .20rem;
}


.bg_image {
  height: 100vh;
  content: '';
  /* /*  E:\xampp\htdocs\Dental Clinic\admin\resources\images\bg-image.png  */
  /* E:\react_app\faculty-manager-app\client\src\resources\users-profile\uni.jpg */
  background-image: url("./resources/users-profile/uni.jpg");
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-position: 0px center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(128, 0, 0, 0.500);
  /* background-blend-mode: soft-light; */
  z-index: 10;
}